<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <h3>Sign Up</h3>
    <form class="form-group">
      <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" required>
      <input type="text" class="form-control" placeholder="Email" ng-model="signup.email" required>
      <input type="password" class="form-control" placeholder="Password" ng-model="signup.password">
    </form>
    <div>
      <button class="btn btn-primary"><i class="fa fa-facebook"></i></button>
      <button class="btn btn-success" href="/auth/twitter"><i class="fa fa-twitter"></i></button>
      <button class="btn btn-warning" href="/auth/google"><i class="fa fa-google-plus"></i></button>
      <button type="button" class="btn btn-default pull-right" ng-click="signup()">Sign Up</button>
    </div>
  </div>
</div>