<div class="container">
  <div class="row">
    <div class='col-md-5 col-md-offset-1'>
      <img class="th" src="{{ skill.image || 'http://placehold.it/400x400'}}">
    </div>
    <div class='col-md-5'>
      <h1>{{skill.skillTitle}}</h1>
      <h3>{{skill.skillCategory}}</h3>
      <h3>{{skill.name}}</h3>
      <p>{{skill.description}}</p>
      <div class="btn-group" role="group" ng-show="currentUserData.loggedIn">
        <button type="button" ng-click="offerTrade()" class="btn btn-success btn-lg">Trade with</button>
        <div class="btn-group" id="shit-input" role="group">
          <select class="btn-select form-control dropdown-menu" ng-model="selectedSkill">
            <option value=""> YOUR SKILL</option>
            <option class="btn-option" ng-repeat="post in skills | filter:{ name: currentUserData.displayName }" value="{{post.skillTitle}}"> {{post.skillTitle}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>