<div class="container">
  <h2>Welcome {{user || "Guest"}}</h2>
  <br>
  <div class="row">
    <div class="card col-md-4" ng-repeat="(index, post) in posts">
      <a ui-sref="skill({ id: post._id })"><img src="http://placehold.it/300x300"></a>
      <a ui-sref="skill({ id: post._id })"><h4>{{post.name}}</h4></a>
      <p>Category: {{post.skillCategory}}</p>
      <p>Skill: {{post.skillTitle}}</p>
    </div>
  </div>
</div>
