body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: white;
  cursor: pointer;
}
a:hover{
  text-decoration: none;
  color: black;
}
a:active{
  color: black;
  text-decoration: none;
}
.logo{
  color: #444444;
  margin-left: 50px;
  text-decoration: none;
}
#logo:hover{
  text-decoration: none;
}
#nav-links{
  margin-right: 50px;
}
.signup{
  color: #00B7FF;
}
.btn-select{
  display: inline;
  text-transform: uppercase;
  color: white;
  border: none;
}
.btn-option{
  text-align: center;
}
/*form{
  margin-left: 40px;
  margin-right: 40px;
}*/
